.select-input select {
  flex: 1;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 15px;
  color: var(--ion-text-color);
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
